<form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
	<div class="form-field">
		<label for="username">Username</label>
		<input id="username" formControlName="username" type="text" />
	</div>

	<div class="form-field">
		<label for="password">Password</label>
		<input id="password" formControlName="password" type="password" />
	</div>

	<app-demo-input formControlName="namedemo" />

	@if (error()) {
		<div class="error-message">{{ error() }}</div>
	}

	<button type="submit">
		@if (isLoading()) {
			<span>Loading...</span>
		} @else {
			<span>Login</span>
		}
	</button>

	<form formGroupName="rememberMe">
		<input type="checkbox" />
		<label for="remember">Remember me</label>
		<input type="checkbox" formControlName="checkbox" />

		<input type="datetime" name="" id="" formControlName="datetime" />
	</form>
</form>
